/* Estilo para el fondo */
body {
    background-color: #3498db; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
h1 {
    text-align: center;
    font-size: 28px;
    color: #fff; 
    margin-top: 20px;
}

/* Estilo para los botones */
button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007BFF; /* color de fondo de los botones */
    color: #fff; /* Color del texto en los botones */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3; /* Cambia el color del botón al pasar el cursor */
}

/* Estilo para etiquetas y campos de entrada */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333; 
}

input[type="date"],
input[type="submit"] {
    width: 50%; /* Ancho */
    padding: 10px;
    margin: 5px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para el cuadro de fecha y botón de Mostrar gráfica */
form {
    text-align: center;
    margin: 20px auto;
}

/* Estilo para el cuadro de fecha y botón de Cerrar Sesión */
#cerrarSesionBtn {
    display: block;
    margin: 10px auto;
}

/* Estilo para la tabla */
#co2Table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#co2Table th,
#co2Table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

#co2Table th {
    background-color: #007BFF; 
    color: #fff; 
}

/* Estilo para el gráfico */
#co2Chart {
    display: block;
    margin: 20px auto;
    max-width: 80%;
}
